In [ ]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

In [130]:
df.groupby('race')['age'].count().sort_values(ascending=False).to_list() == [27816, 3124, 1039, 311, 271]

True

In [140]:
round(df[df['sex'] == 'Male'].groupby('sex')['age'].mean(),1).values[0]

39.4

In [ ]:
df.head()

In [ ]:
round((df[df['education'] == 'Bachelors']['education'].count() / df['education'].count())*100, 1)

In [ ]:
df[(~df['education'].isin(['Bachelors', 'Masters', 'Masters'])) & (df['salary'] == '>50K')].salary.count() / df.salary.count())*100

In [ ]:
df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].salary.count()

In [ ]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [ ]:
round(lower_education[lower_education['salary'] == '>50K'].salary.count()/lower_education.salary.count()*100, 1)

In [66]:
num_min_workers = df[df['hours-per-week'] == df['hours-per-week'].min()].salary.count()

In [70]:
round((df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].salary.count() / num_min_workers)*100,1)

10.0

In [71]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [116]:
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')].groupby('occupation').salary.count().idxmax()

'Prof-specialty'